.main-content {
    background-color: rgba($color: #000000, $alpha: 0.1);
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 10px;
        & h3 {
            letter-spacing: 2px;
            font-size: 30px;
            margin: 0;
            color: white;
            text-transform: uppercase;
        }
}