.main-header {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    & h3, p {
        color: white;
        margin: 0;
        padding: 10px;
    }
    & h3{
        text-transform: uppercase;
    }
    & p {
        border: 1px solid white;
        border-radius: 5px;
    }
}

.header-bg {
    background: rgba($color: #000000, $alpha: 0.5);

}

