.header-button {
    padding: 10px;
    border: 2px solid white ;
    background-color: rgb(183, 9, 47);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: rgb(4, 107, 4);
        transition: 0.7s;
        transform: scale(1.05);
    }
}

.item-button {
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;

    &:focus {
        outline: none;
    }
    &:hover {
        transition: 0.7s;
        transform: scale(1.05);
        background-color: rgba($color: #e2e2e2, $alpha: 0.4);
    }

}