.my-button {
    width: 200px;
    padding: 30px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 700;
    &:focus {
        outline: none;
    }
    &:hover {
        transform: scale(1.1);
    }
    
    &+.my-button {
        margin-left: 20px;
    }
}

