.modal{
    
    &-window {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(88, 88, 88, 0.7);
    }
    &-block, &-container {
        max-width: 500px;
        border-radius: 10px;
    }
    &-block {
        background-color: #e74c3c;
        color: white;
    }
    &-container {
        background-color: yellow;
        color: rgb(0, 0, 0);
    }

    &-button {
        padding: 20px;
        color: white;

    }
    &-header h3{
        margin: 0;
        padding: 25px 35px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: left;
        font-size: 22px;
    }
    &-head, &-header {
        padding: 25px 35px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        & h3 {
            font-size: 22px;
            margin: 0;
            padding: 0;
        }
    }
    &-header {
        background-color: #d44637;
    }
    &-head { 
        background-color: #cab70a;
    }
    &-content {
        padding: 40px 40px 25px 40px;
        font-size: 15px;
        line-height: 30px;
    }
    &-text {
        margin: 0;
        padding-bottom: 35px;
    }
    &-button, &-clicker {
        width: 100px;
        padding: 15px 27px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 15px;
        border: 0 solid black;
        &:focus {
            outline: none;
        }
        
        &:hover {
            transform: scale(1.1);
        }
        
        &+.modal-button, &+.modal-clicker {
            margin-left: 10px;
        }
    }
    &-button {
        color: rgb(255, 255, 255);
    }
    &-clicker {
        color: rgb(3, 3, 3);
    }
}