.modal-icon{
    cursor: pointer;
    transform-origin: center;
    &::before, &::after {
        display: block;
        content: '|';
        position: absolute;
        font-size: 24px;
    }
    &::before {
        transform: translateX(0px) translateY(-7px) rotateZ(45deg);
    }

    &::after {
        transform: translateX(0px) translateY(-4.5px) rotateZ(135deg);
    }
}
