.main-header {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & h3, p {
        color: white;
        margin: 0;
        padding: 10px;
    }
    & h3{
        text-transform: uppercase;
    }
    & p {
        border: 1px solid white;
        border-radius: 5px;
    }
}

.header-bg {
    background: rgba($color: #000000, $alpha: 0.5);

}

.nav-link {
    position: relative;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

.count-num {
    position: absolute;
    top: -30%;
    right: -10;
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: 700;
}
  
